<body>
<div class="features">
   <div class="row">
    <div class="text-coln"  id="aa">
        <h2>Enjoy on your TV</h2>
        <p>Watch on smart Tvs,Mobile,Blue-ray Players Xn=box players and more.</p>
    </div>
    <div class="img-col" id="f1">
        <img src="../../assets/featureImages/minions.gif" alt="" >
    </div>
   </div>

   <hr>

   <div class="row">
    <div class="text-col" id="aa">
        <h2>Download your shows to Watch offline</h2>
        <p>Save your favourites easily and always have something to watch.</p>
    </div>
    <div class="img-col" id="f2">
        <img src="../../assets/featureImages/feat2.png" alt=""  width="17px" >
    </div>

  
   </div>

   <hr>
   <div class="row" >
    <div class="text-col"  id="aa">
        <h2>Create profiles for children.</h2>
        <p>Send children on adventures with their favourite characters in a space made just for them.</p>
    </div>
    <div class="img-col"  id="f1">
        <img src="../../assets/featureImages/features3.png" alt=""  width="17px">
    </div>
   </div>
   <hr>


   <app-frequent-quest appResponsivness></app-frequent-quest>
   <hr>
   <app-footer appResponsivness></app-footer>
   <!-- ------------------------------------------------------------------------------------- -->


