<body>
    <div id="logo"><img routerLink="/login" src="../../assets/Image20230215131915.png" alt=""></div>
   <div class="content">
    
         <div class="container">
            <img routerLink="/login" src="../../assets/Image20230215131915.png" alt="">
            <br>
            <img src="../../assets/signuplogin/reset-password-icon-29.jpg" alt="" height="120px" width="250px" style="padding-left: 140px;">
             <h3 class="heading">Reset password</h3>
             <form [formGroup]="passwordForm" (ngSubmit)="onupdate()">
                 <div class="card-details">
                    <div class="card-box" *ngIf="openemail">
                         <span class="details">Email ID</span>
                         <input type="email" placeholder="Enter email" formControlName="email" class="form-control">

     
                             <button  matSuffix   mat-button color="accent" (click)="otppage()" [disabled]="!email?.valid" mat-raised-button id="nextbtn" appOtp>{{ buttonText }}</button>
  <small *ngIf="passwordForm.get('email')?.touched && passwordForm.get('email')?.invalid" style="color:red;font-size: small;">Enter your Email </small>

                     </div>
                     
                     <div id="main" *ngIf="openotp">
                        <h2>ENTER OTP</h2>
                       
                        <div class="container2">
                            <form class="row" [formGroup]="otpsubmit"  #txt1 (keyup)="move($event, '', txt1, txt2)">
                            <div class="col-md-2"> 
                                <input type="number"  maxlength="1" formControlName="one"  #txt2 (keyup)="move($event, txt1, txt2, txt3)" >
                            </div>
                            <div class="col-md-2"> 
                                <input type="number"  maxlength="1" formControlName="two" #txt3 (keyup)="move($event, txt2, txt3, txt4)">
                            </div>
                            <div class="col-md-2"> 
                                <input type="number"  maxlength="1" formControlName="three" #txt4 (keyup)="move($event, txt3, txt4, txt5)">
                            </div>
                            <div class="col-md-2"> 
                                <input type="number"  maxlength="1" formControlName="four"  #txt5 (keyup)="move($event, txt4, txt5, '') ">
                            </div>
                            <br>
                        </form>
                        <button type="submit" (click)="on()" appOtp>Verify</button>   
                        </div>
                        </div>


                     <div class="card-box" *ngIf="passwordopen">
                         <span class="details">Password</span>
                         <input type="password" placeholder="Enter new Password" formControlName="password" class="form-control">
                         <small *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid"
                             style="color:red;font-size: small;">Please enter Valid Password</small>
                             <mat-error  style="font-size: 9px;" *ngIf="passwordForm.controls['password'].hasError('pattern')">
                                Password must be of 5 characters and atleast one special and numeric <strong>required</strong>
                              </mat-error>
                               
    <br>
                             <div class="card-box">
                                <span class="details">confirm password</span>
                                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                                    <mat-error *ngIf="passwordForm?.hasError('required')">
                                      Confirm Password is <strong>required</strong>
                                    </mat-error>
                                  <mat-error *ngIf="passwordForm.hasError('passwordMisMatch')">
                                    Password <strong>MisMatch</strong>Please enter same password
                                  </mat-error>
                                </div>
</div>
                    

                    </div>
 



                 <div class="button">
                    <button mat-raised-button color="warn" type="submit" [disabled]="passwordForm.invalid" (click)="onupdate">Update</button>

                    <button id="reset" mat-raised-button color="accent" type="reset">Reset</button>
                 </div>
             </form>
             <h3> New User ? <a routerLink="/signup">Register First</a></h3>
         </div>
      
     </div>

     <div style="height: 60px;">

     </div>
    
 </body>
