
<img routerLink="/dashboard" src="../../assets/logo12.png" alt="">

<body>
   
      <header class="bgimg w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-middle w3-center">
  
        </div>
        <br>
      </header>
    
      
      <div class="w6-sand w3-grayscale w3-large">
    
       
        <div class="w3-container" id="about">
          <div class="w3-content" style="max-width:700px">
            <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">OUR TEAM</span></h2>
          </div>
        </div>
      </div><br><br>
    
      <h2 style="text-align:center"></h2>
      <div class="row" >
        <div class="column">
          <div class="card">
            <div class="container">
              <img  class="img1" src="../../assets/profile/utkarsh.jpeg" alt="" height="15%" width="30%">
              <h2>Utkarsh Chaudhary</h2>
              <p class="title">FULL STACK DEVELOPER</p>
             <a href="utkarshchaudhary63@gmail.com">  <p>utkarshchaudhary63@gmail.com</p></a>
            
            </div>
          </div>
        </div>


        <div class="column">
          <div class="card">
            <div class="container">
              <img class="img1" src="../../assets/profile/2020-04-02-19-35-37-801.jpg" alt="" height="34%" width="34%">
              <h2>Rishita Saha</h2>
              <p class="title">FULL STACK DEVELOPER</p>
              <a href="rishitaofficial1@gmail.com">
                <p>rishitaofficial1@gmail.com</p>
                </a>
            
            </div>
          </div>
        </div>

    
        <div class="column">
          <div class="card">
            <div class="container">
              <img class="img1" src="../../assets/profile/shivansh.jpeg" alt="" height="45%" width="45%">
              <h2>Shivansh Bohra</h2>
              
              <p class="title">FULL STACK DEVELOPER</p>
              <a href="shivanshbohra.ad03@gmail.com"> <p>shivanshbohra.ad03@gmail.com</p></a>
             

            </div>
          </div>
        </div>
      </div>
    
      <br><br><br>
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Muzix App 2023 is a popular free movie browsing site. Muzix App lets you
                play Bollywood, Hollywood, Telugu, Tamil, and Malayalam movies for free, which is a very famous site
                among customers. Muzix App provides an opportunity to transfer pirated versions of newly released movies on
                its site.</p>
            </div>
    
            <div class="col-xs-6 col-md-3">
              <h6>TECHNOLOGIES</h6>
              <ul class="footer-links">
                <li><a>Java</a></li>
                <li><a>BOOTSTRAP</a></li>
                <li><a>ANGULAR</a></li>
                <li><a>MYSQL</a></li>
                <li><a>MONGO DB</a></li>
              </ul>
            </div>
    
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://localhost:4200/aboutus">About Us</a></li>
                <li><a href="http://localhost:4200/aboutus">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by Muzix
              </p>
            </div>
    
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </body>